#datos-paciente{
    text-align: left;
    align-items: center;
    background-color: rgb(215, 172, 227);
    padding:20px;
    border-radius: 50px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}
/* Estilos del encabezado */
header {
    background-color: rgba(46, 39, 71, 0.1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mensaje-exito{
    color: red;
  }
  
  /* Estilos del logo */
  #logoContainer {
    display: flex;
    align-items: center;
  }
  
  #logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  /* Estilos del nombre de la empresa */
  #nombreEmpresa {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #2E2747;
  }
  
  /* Estilos de información de contacto */
  #infoContacto {
    display: flex;
    align-items: center;
  }
  
  #numeroTelefono {
    font-size: 16px;
    color: #2E2747;
    margin-right: 20px;
  }
  
  /* Estilos de los botones */
  #botonEntrar,
  #botonMenu {
    display: inline-flex;
    align-items: center;
    background-color: rgba(189, 184, 204, 0.5);
    color: #2E2747;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 1px;
    cursor: pointer;
  }
  
  #botonEntrar i,
  #botonMenu i {
    margin-right: 10px;
  }
  
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card {
    border: 1px solid #8d8d8d;
    background-color: rgba(253, 253, 253, 0.844);
    border-radius: 8px;
    padding: 40px; /* Aumenta el espacio interno del card */
    width: 70%; /* Ajusta el ancho del card */
    max-width: 1000px; /* Establece un ancho máximo para el card */
    margin: 80px auto; /* Centra el card y agrega margen superior e inferior */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    background-image: url('https://th.bing.com/th/id/OIG.tqzpopugWC.3MJt_Drf1?pid=ImgGn'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta o URL de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: bold;
    /* Puedes agregar más estilos según sea necesario */
  }

label {
    margin-bottom: 8px;
    color: #000000;
    margin-top: 10px;
  }

button {
    background-color: rgb(195, 161, 231);
    color:#000000;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
button:hover {
    background-color: rgb(203, 116, 227);
  }

#motivo-consulta {
    background: rgb(215, 172, 227);
    box-sizing: border-box;
    margin-bottom: 1px;
    padding: 8px;
    width: 100%;
    border-radius: 20px;
}
#detalle-consulta{
    background: rgb(222, 187, 232);
    box-sizing: border-box;
    margin-bottom: 1px;
    padding: 8px;
    width: 100%;
    border-radius: 20px;
}
#problema-actual {
    background: rgb(215, 172, 227);
    box-sizing: border-box;
    margin-bottom: 1px;
    padding: 8px;
    width: 100%;
    border-radius: 20px;
}
#detalle-problema{
    background: rgb(222, 187, 232);
    box-sizing: border-box;
    margin-bottom: 1px;
    padding: 8px;
    width: 100%;
    border-radius: 20px;
}
#antecedentes{
    text-align: left;
    align-items: center;
    background-color: rgb(215, 172, 227);
    padding:20px;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    font-family: 'Times New Roman', Times, serif, sans-serif;
}
#rango-edad{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    text-align: left;
    align-items: center;
    padding:20px;
    border-radius: 50px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    background-color:rgb(215, 172, 227) ;
    border-radius: 20px;
}

#signos-vitales{
    text-align: left;
    align-items: center;
    background-color: rgb(215, 172, 227);
    padding:20px;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

#Plan-Diagnostico{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    text-align: left;
    align-items: center;
    padding:20px;
    border-radius: 50px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    background-color:rgb(215, 172, 227) ;
    border-radius: 20px;

}
#menuDesplegable {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #C3BCD7;
    padding-top: 60px;
    transition: 0.5s;
}

#menuDesplegable ul {
    list-style: none;
    padding: 0;
}

#menuDesplegable li {
    padding: 15px;
    text-align: center;
}

#menuDesplegable a {
    color: #4F4768;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

#menuDesplegable a:hover {
    color: #ffffff;
}

#menuDesplegable.visible {
    right: 0;
}

#cerrarMenu {
    background-color: #4F4768;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#cerrarMenu:hover {
    background-color: #C3BCD7;
}
